body {
    padding-top: 70px;
    padding-bottom: 70px;
}
pre {
    font-family: "Courier New";
    font-size: 11px;
}
.well.light {
    background-color: #fff;
}
.uppercase {
    text-transform: uppercase;
}
.loading-well {
    height:300px;
    #max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}