<!doctype html>
<html lang="en" ng-app="styx">

<head>
    <meta charset="UTF-8"/>
    <title>Cloudfoundry dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/styx.css" rel="stylesheet" media="screen">
    <link rel="icon"
          type="image/png"
          href="img/favicon.ico">
</head>

<body ng-controller="StyxController">

<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="img/kratos_logo.jpg" alt="You disappoint me, Spartan."
                                                      class="img-circle" style="height: 20px"> CLOUD FOUNDRY</a>
            </div>
            <div ng-show="root">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-show="root"><a href="#/org/{{root.selectedOrganization.id}}">Spaces</a></li>
                    <li ng-show="root"><a href="#/org/{{root.selectedOrganization.id}}/users">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome {{root.user.username}}</a></li>
                    <li class="dropdown uppercase">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/admin" ng-show="isInRole(root.user, 'EINDBAAS')">Manage</a></li>
                            <li><a href="#/admin" ng-show="isInRole(root.user, 'EINDBAAS')">Invite</a></li>
                            <li><a ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container" ng-hide="!status">
    <div class="row">
        <div ng-class="['alert', (status.code === 200) ? 'alert-success' : 'alert-danger']">
            {{status.message}}
            <div class="pull-right">
                <a ng-click="clearStatus()">Clear <span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
    </div>
</div>

<div ng-hide="loading">
    <div ng-view></div>
</div>

<div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav" ng-show="root">
                <li class="navbar-text">"<span>{{root.chuckQuote}}</span>"</li>
            </ul>
        </div>
    </nav>
</div>

<script src="js/angular.js"></script>
<script src="js/angular-local-storage-service.js"></script>
<script src="js/spin.js"></script>
<script src="js/angular-spin.js"></script>
<script src="js/ui-bootstrap-0.6.0-SNAPSHOT.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js"></script>
<script src="js/jquery-2.0.3.js"></script>
<script src="js/styx-controllers.js"></script>
<script src="js/styx-services.js"></script>
<script src="js/styx.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>