<div class="container">
    <div ng-show="error" class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{error}}
    </div>
    <div ng-show="loading">
        <div class="well well-small loading-well">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="text-center">Hold on...</h3>
                    <h5 class="text-center">We are loading your log file!</h5>
                    <div spin="defaultSpinnerConfig" spin-if="loading"></div>
                </div>
            </div>
        </div>
    </div>
    <pre ng-hide="loading">{{log}}</pre>
</div>