<div class="container">
    <div ng-show="error" class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{error}}
    </div>
    <div ng-show="loading">
        <div class="well loading-well">
            <h3 class="text-center">Hold on...</h3>
            <h5 class="text-center">We are loading your spaces!</h5>
            <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        </div>
    </div>
    <div ng-hide="loading">
        <div class="well well-small">
            <div class="row">
                <div class="col-md-11" ng-hide="loading">
                    APP SPACES:
                    <span ng-repeat="s in spaces">
                        <span ng-show="space.selected == s.name">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary uppercase">{{s.name}}</button>
                                <a href="#/space-settings/{{organizationId}}/{{s.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span></a>
                            </div>
                        </span>
                        <span ng-show="space.selected != s.name">
                            <button class="btn btn-default uppercase" ng-click="selectSpace(s.name)">{{s.name}}</button>
                        </span>
                    </span>
                </div>
                <div class="col-md-1">
                    <a href="#/create-space/{{organizationId}}" class="btn btn-success">ADD</a>
                </div>
            </div>
        </div>
        <div class="well well-small">
            <div class="row">
                <div ng-repeat="s in spaces">
                    <div class="col-md-8" ng-show="space.selected == s.name">
                        <div class="well well-small light">
                            <h5 class="uppercase">Apps in {{s.name}} <span class="badge">{{s.applications.length}}</span>
                            </h5>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>STATUS</th>
                                    <th>APP</th>
                                    <th>INSTANCES</th>
                                    <th>MEMORY</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="app in s.applications">
                                    <td><span class="label label-success" ng-show="app.state == 'STARTED'">STARTED</span>
                                        <span class="label label-danger" ng-hide="app.state == 'STARTED'">STOPPED</span>
                                    </td>
                                    <td>
                                        {{app.name}} <a href="#/app-settings/{{organizationId}}/{{app.id}}" style="text-decoration: none"><span class="glyphicon glyphicon-info-sign"></span></a>
                                        <div ng-repeat="url in app.urls">
                                            <a href="http://{{url}}">{{url}}</a>
                                        </div>
                                    </td>
                                    <td>{{app.instances}}</td>
                                    <td>{{app.memory}} MB</td>
                                    <td><button class="btn btn-danger btn-xs" ng-show="app.state == 'STARTED'" ng-click="stopApplication(app.id)"><span class="glyphicon glyphicon-stop"></span> STOP</button>
                                        <button class="btn btn-success btn-xs" ng-hide="app.state == 'STARTED'" ng-click="startApplication(app.id)"><span class="glyphicon glyphicon-play"></span> START</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="well well-small light">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5 class="uppercase">Services in {{s.name}} <span class="badge">{{s.serviceInstances.length}}</span></h5>
                                </div>
                                <div class="col-md-1">
                                    <!--button class="btn btn-success">ADD</button-->
                                </div>
                            </div>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>SERVICE</th>
                                    <th>PLAN LEVEL</th>
                                    <th>BOUND APPS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="service in s.serviceInstances">
                                    <td>{{service.name}}</td>
                                    <td>{{service.servicePlan.service.provider}} {{service.servicePlan.service.name}} {{service.servicePlan.service.version}}</td>
                                    <td><a href="#" tooltip="{{service.servicePlan.description}}">{{service.servicePlan.name}}</a>
                                    <td>{{service.boundApplications}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="space.selected == s.name">
                        <div class="well  well-small light">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5 class="uppercase">Users in {{s.name}} <span class="badge">{{s.users.length}}</span></h5>
                                </div>
                                <div class="col-md-3">
                                    <a href="#/users/{{organization.id}}" class="btn btn-success">EDIT</a>
                                </div>
                            </div>
                            <ul>
                                <li ng-repeat="user in s.users">{{user.username}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>