<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cloud Foundry</a>
        </div>
        <div ng-hide="loadingData">
            <ul class="nav navbar-nav">
                <li class="dropdown uppercase">
                    <a class="dropdown-toggle" data-toggle="dropdown">ORG: {{organization.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="organization in organizations" ng-hide="organization.selected"><a
                                href="#/app-spaces/{{organization.id}}">{{organization.name}}</a>
                        </li>
                        <li><a href="#/create-org/{{organization.id}}">CREATE NEW ORGANIZATION</a></li>
                    </ul>
                </li>
                <li><a href="#/app-spaces/{{organization.id}}">APP SPACES</a></li>
                <li><a href="#/users/{{organization.id}}">USERS</a></li>
                <li><a href="#/org-settings/{{organization.id}}">ORG SETTINGS</a></li>
                <!--li><a href="#/marketplace/{{organization.id}}">MARKETPLACE</a></li-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/userinfo/{{ organization.id }}" class="uppercase">{{user.username}}</a></li>
                <li><button href="#" class="btn btn-default navbar-btn" ng-click="logout()">LOG OUT</button></li>
            </ul>
        </div>
    </div>
</nav>