<div class="container">
    <div ng-show="success" class="alert alert-success">
        {{success}}
    </div>
    <div ng-show="error" class="alert alert-error">
        {{error}}
    </div>
    <div>
        <div class="well well-large text-center">
            <h2 class="form-signin-heading">Create a Cloud Foundry account</h2>
            <form name="registerForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-4">
                        <input name="registerForm.email" id="username" type="text" class="form-control input-lg" placeholder="Email" ng-model="userForm.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-4">
                        <input name="registerForm.password" id="password" type="password" class="form-control input-lg" placeholder="Password" ng-model="userForm.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" ng-click="register(registerForm)" ng-disabled="authenticate">Register</button>
                    <a href="#/login">Back to login >></a>
                </div>
            </form>
        </div>
    </div>
</div>