body {
    /*
        zie http://subtlepatterns.com/ voor meer vetter textures :)
    */
    padding-top: 60px;
    padding-bottom: 40px;
}
pre {
    font-family: "Courier New";
    font-size: 11px;
}
.well.light {
    background-color: #fff;
}
.uppercase {
    text-transform: uppercase;
}
.form-signin {
    max-width: 300px;
    padding: 20px 30px 30px;
    margin: 0 auto 20px;
}
.form-signin .form-signin-heading{
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.loading-well {
    height:300px;
    #max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}