<div class="container">
    <div>
        <h3><span class="text-muted">organization // </span>manage <span class="badge">{{admin.organizations.length}}</span></h3>
        <p>All available organizations are listed below.</p>
        <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quota</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="organization in admin.organizations">
                <td ng-hide="editingOrg === organization.id">{{organization.name}}</td>
                <td ng-show="editingOrg === organization.id">
                    <input type="text" class="form-control" id="org.name"
                           placeholder="{{organization.name}}"
                           ng-model="organization.name"/>
                </td>
                <td ng-hide="editingOrg === organization.id">{{organization.quotaName}}</td>
                <td ng-show="editingOrg === organization.id">
                    <select ng-model="organization.quotaId"
                            ng-options="quota.id as quota.name for quota in admin.quotas" class="form-control">
                    </select>
                </td>
                <td ng-hide="editingOrg === organization.id">
                    <div class="pull-right">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" ng-disabled="editingOrg">
                                <span><span class="glyphicon glyphicon-cog"></span></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="routeToUsers(organization.id)">Users</a></li>
                                <li><a ng-click="editOrg(organization.id)">Edit</a></li>
                                <li><a ng-click="deleteOrg(organization.id, organization.name)">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td ng-show="editingOrg === organization.id">
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success"
                                    ng-click="saveOrg(organization.id, organization.name, organization.quotaId)">
                                Update
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="cancelEdit()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="new.org.name"
                           placeholder="Choose a name"
                           ng-model="newOrganization.name" required/>
                </td>
                <td>
                    <select ng-model="newOrganization.quotaId"
                            ng-options="quota.id as quota.name for quota in admin.quotas" class="form-control" required>
                    </select>
                </td>
                <td>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" ng-disabled="editingOrg"
                                    ng-click="createOrg(newOrganization)">
                                Add
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3><span class="text-muted">quotas // </span>manage <span class="badge">{{admin.quotas.length}}</span></h3>
        <p>All available quotas are listed below.</p>
        <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Total Services</th>
                <th class="text-right">Memory Limit</th>
                <th class="text-center">Non Basic Services Allowed</th>
                <th class="text-center">Trial DB Allowed</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quota in admin.quotas">
                <td ng-hide="editingQuota === quota.id">{{quota.name}}</td>
                <td ng-show="editingQuota === quota.id">
                    <input type="text" class="form-control" id="quota.name"
                           placeholder="{{quota.name}}"
                           ng-model="quota.name"/>
                </td>
                <td class="text-right" ng-hide="editingQuota === quota.id">{{quota.services}}</td>
                <td class="text-right" ng-show="editingQuota === quota.id">
                    <input type="number" class="form-control text-right" id="quota.services"
                           placeholder="{{quota.services}}"
                           ng-model="quota.services"/>
                </td>
                <td class="text-right" ng-hide="editingQuota === quota.id">{{quota.memoryLimit}} MB</td>
                <td class="text-right" ng-show="editingQuota === quota.id">
                    <input type="number" class="form-control text-right" id="quota.memoryLimit"
                           placeholder="{{quota.memoryLimit}}"
                           ng-model="quota.memoryLimit"/>
                </td>
                <td class="text-center" ng-hide="editingQuota === quota.id"><span
                        ng-class="['glyphicon', (quota.nonBasicServicesAllowed) ? 'glyphicon-ok' : 'glyphicon-remove']"></span>
                </td>
                <td class="text-center" ng-show="editingQuota === quota.id">
                    <input type="checkbox" id="quota.nonBasicServicesAllowed"
                           ng-model="quota.nonBasicServicesAllowed"/>
                </td>
                <td class="text-center" ng-hide="editingQuota === quota.id"><span
                        ng-class="['glyphicon', (quota.trialDbAllowed) ? 'glyphicon-ok' : 'glyphicon-remove']"></span>
                </td>
                <td class="text-center" ng-show="editingQuota === quota.id">
                    <input type="checkbox" id="quota.trialDbAllowed"
                           ng-model="quota.trialDbAllowed"/>
                <td ng-hide="editingQuota === quota.id">
                    <div class="pull-right">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown" ng-disabled="editingQuota">
                                <span><span class="glyphicon glyphicon-cog"></span></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="editQuota(quota.id)">Edit</a></li>
                                <li><a ng-click="deleteQuota(quota.id, quota.name)">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td ng-show="editingQuota === quota.id">
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="saveQuota(quota.id)">
                                Update
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="cancelEdit()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="new.quota.name"
                           placeholder="Choose a name"
                           ng-model="newQuota.name" ng-disabled="editingQuota"/>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control text-right" id="new.quota.totalServices"
                           placeholder="Choose amount of services"
                           ng-model="newQuota.services" ng-disabled="editingQuota"/>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control text-right" id="new.quota.memoryLimit"
                           placeholder="Choose a memory limit"
                           ng-model="newQuota.memoryLimit" ng-disabled="editingQuota"/>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="new.quota.nonBasicServicesAllowed"
                           ng-model="newQuota.nonBasicServicesAllowed" ng-disabled="editingQuota"/>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="new.quota.trialDbAllowed"
                           ng-model="newQuota.trialDbAllowed" ng-disabled="editingQuota"/>
                </td>
                <td>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" ng-disabled="editingQuota"
                                    ng-click="createQuota(newQuota)">
                                Add
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>