<div class="container">
    <div class="row" ng-show="!app">
        <div class="col-md-12">
            <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><span class="text-muted">your // </span> applications </h3>
            <div class="form-group">
                <select ng-model="selectedAppId"
                        ng-options="app.id as app.name for app in root.applications"
                        ng-change="changeApplication()" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><span class="text-muted">application // </span> {{root.application.name}}
                <span class="dropdown">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">
                        <span><span class="glyphicon glyphicon-cog"></span></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="editApplication()">Edit</a></li>
                        <li><a ng-click="deleteApplication(root.application.id, root.application.name)">Delete</a></li>
                    </ul>
                </span>
            </h3>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Status</strong></div>
                <div class="col-md-9">
                    <span ng-show="root.application.state == 'STARTED'" class="label label-success">{{root.application.state}}</span>
                    <span ng-show="root.application.state != 'STARTED'" class="label label-danger">{{root.application.state}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Application</strong></div>
                <div class="col-md-9" ng-hide="editApp">{{root.application.name}} (<a href="#/org/{{root.application.organization.id}}">{{root.application.organization.name}}</a> // {{root.application.space.name}})</div>
                <div class="col-md-9" ng-show="editApp"><input type="text" class="form-control" ng-model="root.application.name"/></div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Memory</strong></div>
                <div class="col-md-9" ng-hide="editApp">{{root.application.memory}}</div>
                <div class="col-md-9" ng-show="editApp">
                    <select class="form-control" ng-model="root.application.memory">
                        <option>128 MB</option>
                        <option>256 MB</option>
                        <option>512 MB</option>
                        <option>1024 MB</option>
                        <option>2048 MB</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Disk quota</strong></div>
                <div class="col-md-9" ng-hide="editApp">{{root.application.diskQuota}}</div>
                <div class="col-md-9" ng-show="editApp">
                    <select class="form-control" ng-model="root.application.diskQuota">
                        <option>128 MB</option>
                        <option>256 MB</option>
                        <option>512 MB</option>
                        <option>1024 MB</option>
                        <option>2048 MB</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Buildpack</strong></div>
                <div class="col-md-9">{{root.application.buildpack}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>Environment</strong></div>
                <div class="col-md-9">{{root.application.environment}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right"><strong>URL</strong></div>
                <div class="col-md-9">
                    <div ng-repeat="url in root.application.urls"><a href="http://{{url}}">http://{{url}}</a><br/></div>
                </div>
            </div>
            <div class="row" ng-show="editApp">
                <div class="col-md-9 col-md-offset-3">
                    <button class="btn btn-success" ng-click="updateApplication()">Update</button>
                    <button class="btn btn-warning" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3><span class="text-muted">instances</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 10%">State</th>
                    <th style="width: 15%">URL</th>
                    <th style="width: 15%">CPU</th>
                    <th style="width: 15%">Memory</th>
                    <th style="width: 15%">Disk</th>
                    <th style="width: 25%">Logs</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in root.application.instances">
                    <td>{{instance.id}}</td>
                    <td><span ng-show="instance.state == 'RUNNING'" class="label label-success">{{instance.state}}</span>
                        <span ng-show="instance.state != 'RUNNING'" class="label label-danger">{{instance.state}}</span></td>
                    <td>{{instance.host}}:{{instance.port}}</td>
                    <td>{{instance.cpu}}</td>
                    <td>{{instance.memory}}</td>
                    <td>{{instance.disk}}</td>
                    <td>
                        <div ng-repeat="log in instance.logs">
                            <a ng-click="getLog(log.link)">{{log.name}} : {{log.size}}</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="text-muted">services</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 30%">Name</th>
                    <th style="width: 30%">Plan</th>
                    <th style="width: 30%">Service</th>
                    <th style="width: 10%; text-align: right">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in root.application.services">
                    <td>{{service.name}}</td>
                    <td>{{service.plan.name}}</td>
                    <td>{{service.type.name}} {{service.type.version}}</td>
                    <td>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="dropdown">
                                    <span><span class="glyphicon glyphicon-cog"></span></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3><span class="text-muted">events</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 10%">Instance</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 40%">Description</th>
                    <th style="width: 40%">Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in root.application.events">
                    <td>{{event.instance}}</td>
                    <td>{{event.status}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.timestamp}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="log">
        <div class="col-md-12">
            <h5 class="text-center">{{log.link}}</h5>
            <pre style="max-height: 400px;overflow-y: auto;">{{log.data}}</pre>
        </div>
    </div>
</div>