<div class="container">
    <div class="row" ng-show="!app">
        <div class="col-md-12">
            <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><span class="text-muted">your // </span> applications </h3>
            <div class="form-group">
                <select ng-model="selectedAppId"
                        ng-options="app.id as app.name for app in root.applications"
                        ng-change="changeApplication()" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="text-muted">application // </span> {{root.application.name}}
                <span class="dropdown">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">
                        <span><span class="glyphicon glyphicon-cog"></span></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>Delete</a></li>
                    </ul>
                </span>
            </h3>
            <dl class="dl-horizontal">
                <dt>Status</dt>
                <dd><span ng-show="root.application.state == 'STARTED'" class="label label-success">{{root.application.state}}</span>
                    <span ng-show="root.application.state != 'STARTED'" class="label label-danger">{{root.application.state}}</span></dd>
                <dt>Application</dt>
                <dd>{{root.application.name}} (<a href="#/org/{{root.application.organization.id}}">{{root.application.organization.name}}</a> // {{root.application.space.name}})</dd>
                <dt>Url</dt>
                <dd><div ng-repeat="url in root.application.urls"><a href="http://{{url}}">http://{{url}}</a><br/></div></dd>
                <dt>Memory</dt>
                <dd>{{root.application.memory}}</dd>
                <dt>Disk quota</dt>
                <dd>{{root.application.diskQuota}}</dd>
                <dt>Buildpack</dt>
                <dd>{{root.application.buildpack}}</dd>
                <dt>Environment</dt>
                <dd>{{root.application.environment}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h3><span class="text-muted">instances</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 10%">#</th>
                    <th style="width: 20%">State</th>
                    <th style="width: 20%">Host</th>
                    <th style="width: 10%">Port</th>
                    <th style="width: 10%">CPU</th>
                    <th style="width: 15%">Memory</th>
                    <th style="width: 15%">Disk</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in root.application.instances">
                    <td>{{instance.id}}</td>
                    <td><span ng-show="instance.state == 'RUNNING'" class="label label-success">{{instance.state}}</span>
                        <span ng-show="instance.state != 'RUNNING'" class="label label-danger">{{instance.state}}</span></td>
                    <td>{{instance.host}}</td>
                    <td>{{instance.port}}</td>
                    <td>{{instance.cpu}}</td>
                    <td>{{instance.memory}}</td>
                    <td>{{instance.disk}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="text-muted">services</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 30%">Name</th>
                    <th style="width: 30%">Plan</th>
                    <th style="width: 30%">Service</th>
                    <th style="width: 10%; text-align: right">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in root.application.services">
                    <td>{{service.name}}</td>
                    <td>{{service.plan.name}}</td>
                    <td>{{service.type.name}} {{service.type.version}}</td>
                    <td>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="dropdown">
                                    <span><span class="glyphicon glyphicon-cog"></span></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3><span class="text-muted">events</span></h3>
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 10%">Instance</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 40%">Description</th>
                    <th style="width: 40%">Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in root.application.events">
                    <td>{{event.instance}}</td>
                    <td>{{event.status}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.timestamp}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>