<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <h3><span class="text-muted">RAW</span> <a href="http://docs.cloudfoundry.com/docs/reference/cc-api.html">CloudFoundry API</a> Proxy</h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id" class="col-lg-2 control-label">ID</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="id" placeholder="ID" ng-model="id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="depth" class="col-lg-2 control-label">Depth</label>

                    <div class="col-lg-10">
                        <input type="number" class="form-control" id="depth" placeholder="ID" ng-model="depth">
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-lg-2 control-label">Type</label>

                    <div class="col-lg-10">
                        <select class="form-control" id="type" ng-model="type">
                            <option>organizations</option>
                            <option>spaces</option>
                            <option>apps</option>
                            <option>users</option>
                            <option>services</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn btn-primary" ng-click="fireGetRequest()" ng-disabled="loading">
                            EXCHANGE
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="reset()" ng-disabled="loading">CLEAR
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div spin="defaultSpinnerConfig" spin-if="loading"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <pre style="max-height: 400px;overflow-y: auto;" ng-show="result.response">{{result.response}}</pre>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>