<div class="container">
    <div class="well well-sm">
        <div class="container">
            <h3>
                <span class="text-muted">Organization:</span> {{root.selectedOrganization.name}}</span>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-disabled="editingOrganization">Change</button>
                    <button type="button" class="btn btn-default" ng-hide="editingOrganization" ng-click="editOrganization()">Edit</button>
                    <button type="button" class="btn btn-success" ng-show="editingOrganization" ng-click="updateOrganization()">Save</button>
                    <button type="button" class="btn btn btn-danger" ng-disabled="editingOrganization">Delete</button>
                </div>
            </h3>
            <hr/>
            <table class="table small-text text-center">
                <thead>
                <th class="text-center text-muted small-text">
                    Plan
                </th>
                <th class="text-center text-muted small-text">
                    <span class="text-muted">Total services</span>
                </th>
                <th class="text-center text-muted small-text">
                    <span class="text-muted">Memory limit</span>
                </th>
                <th class="text-center text-muted small-text">
                    <span class="text-muted">Non basic services allowed</span>
                </th>
                <th class="text-center text-muted small-text">
                    <span class="text-muted">Trial DB allowed</span>
                </th>
                <th class="text-center text-muted small-text" ng-hide="editingOrganization">
                    <span class="text-muted">Users</span>
                    <span class="badge">{{root.selectedOrganization.users.length}}</span>
                </th>
                </thead>
                <tbody>
                <tr ng-hide="editingOrganization">
                    <td>
                        {{root.selectedOrganization.quota.name}}
                    </td>
                    <td>
                        {{root.selectedOrganization.quota.services}}
                    </td>
                    <td>
                        {{root.selectedOrganization.quota.memoryLimit}}
                    </td>
                    <td>
                        {{root.selectedOrganization.quota.nonBasicServicesAllowed}}
                    </td>
                    <td>
                        {{root.selectedOrganization.quota.trialDbAllowed}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-disabled="editingOrganization">Manage</button>
                    </td>
                </tr>
                <tr ng-show="editingOrganization">
                    <td>
                        <select class="form-control" ng-model="root.selectedOrganization.quota.name" ng-options="plan as   plan for plan in availablePlans">

                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="quotaServices" placeholder="{{root.selectedOrganization.quota.services}}" ng-model="root.selectedOrganization.quota.services">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="memoryLimit" placeholder="{{root.selectedOrganization.quota.memoryLimit}}" ng-model="root.selectedOrganization.quota.memoryLimit">
                    </td>
                    <td>
                        <input type="checkbox" id="nonBasicServicesAllowed" ng-model="root.selectedOrganization.quota.nonBasicServicesAllowed">
                    </td>
                    <td>
                        <input type="checkbox" id="trialDbAllowed" ng-model="root.selectedOrganization.quota.trialDbAllowed">
                    </td>
                    <td ng-hide="editingOrganization">
                        <button type="button" class="btn btn-default" ng-disabled="editingOrganization">Manage</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="space in root.selectedOrganization.spaces">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title"><span class="text-muted">Space:</span> {{space.name}} <span
                                class="badge">{{space.applications.length}}</span></span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>STATUS</th>
                                <th>APP</th>
                                <th>INSTANCES</th>
                                <th>MEMORY</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="app in space.applications">
                                <td><span class="label label-success" ng-show="app.state == 'STARTED'">STARTED</span>
                                    <span class="label label-danger" ng-hide="app.state == 'STARTED'">STOPPED</span>
                                </td>
                                <td>
                                    {{app.name}} <a href="#/app-settings/{{root.selectedOrganization.id}}/{{app.id}}"
                                                    style="text-decoration: none"><span
                                        class="glyphicon glyphicon-info-sign"></span></a>

                                    <div ng-repeat="url in app.urls">
                                        <a href="http://{{url}}">{{url}}</a>
                                    </div>
                                </td>
                                <td>{{app.instances}}</td>
                                <td>{{app.memory}} MB</td>
                                <td>
                                    <button class="btn btn-danger btn-xs" ng-show="app.state == 'STARTED'"
                                            ng-click="stopApplication(app.id)"><span
                                            class="glyphicon glyphicon-stop"></span> STOP
                                    </button>
                                    <button class="btn btn-success btn-xs" ng-hide="app.state == 'STARTED'"
                                            ng-click="startApplication(app.id)"><span
                                            class="glyphicon glyphicon-play"></span> START
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>