<div class="container">
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-11">
                APP SPACES:
                    <span ng-repeat="space in root.selectedOrganization.spaces">
                        <span ng-show="space.selected == space.name">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary uppercase">{{space.name}}</button>
                                <a href="#/space-settings/{{root.selectedOrganization.id}}/{{space.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span></a>
                            </div>
                        </span>
                        <span>
                            <button class="btn btn-default uppercase" ng-click="selectSpace(space.name)">{{space.name}}</button>
                        </span>
                    </span>
            </div>
            <div class="col-md-1">
                <a href="#/create-space/{{root.selectedOrganization.id}}" class="btn btn-success">ADD</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="space in root.selectedOrganization.spaces">
            <div class="col-md-8" ng-show="space.name === selectedSpaceName">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title uppercase">Apps in {{space.name}} <span class="badge">{{space.applications.length}}</span></span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>STATUS</th>
                                <th>APP</th>
                                <th>INSTANCES</th>
                                <th>MEMORY</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="app in space.applications">
                                <td><span class="label label-success" ng-show="app.state == 'STARTED'">STARTED</span>
                                    <span class="label label-danger" ng-hide="app.state == 'STARTED'">STOPPED</span>
                                </td>
                                <td>
                                    {{app.name}} <a href="#/app-settings/{{root.selectedOrganization.id}}/{{app.id}}" style="text-decoration: none"><span class="glyphicon glyphicon-info-sign"></span></a>
                                    <div ng-repeat="url in app.urls">
                                        <a href="http://{{url}}">{{url}}</a>
                                    </div>
                                </td>
                                <td>{{app.instances}}</td>
                                <td>{{app.memory}} MB</td>
                                <td><button class="btn btn-danger btn-xs" ng-show="app.state == 'STARTED'" ng-click="stopApplication(app.id)"><span class="glyphicon glyphicon-stop"></span> STOP</button>
                                    <button class="btn btn-success btn-xs" ng-hide="app.state == 'STARTED'" ng-click="startApplication(app.id)"><span class="glyphicon glyphicon-play"></span> START</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-show="space.name === selectedSpaceName">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title uppercase">Users in {{space.name}}</span> <span class="badge">{{space.users.length}}</span><a href="#/users/{{organization.id}}" class="btn btn-sm btn-success pull-right">EDIT</a>
                    </div>
                    <div class="panel-body">
                        <h5>Managers</h5>
                        <ul>
                            <li ng-repeat="user in space.users" ng-show="user.roles.indexOf('SPACE_MANAGER') !== -1">{{user.username}}</li>
                        </ul>
                        <hr/>
                        <h5>Auditors</h5>
                        <ul>
                            <li ng-repeat="user in space.users" ng-show="user.roles.indexOf('SPACE_AUDITOR') !== -1">{{user.username}}</li>
                        </ul>
                        <hr/>
                        <h5>Developers</h5>
                        <ul>
                            <li ng-repeat="user in space.users" ng-show="user.roles.indexOf('SPACE_DEVELOPER') !== -1">{{user.username}}</li>
                        </ul>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>