<div class="container">
    <div class="row" ng-show="invitation">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="email" placeholder="Email" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-lg-2 control-label">Firstname</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="firstname" placeholder="Firstname">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-lg-2 control-label">Lastname</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="pwd" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="pwdCheck" class="col-lg-2 control-label">Re-Type your password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="pwdCheck" placeholder="Re-Type your password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>