<div class="container">
    <div class="well well-sm">
        <div class="container">
            <h3>
                <span class="text-muted">Organization:</span>

                <div class="btn-group btn-group-sm">
                    <button type="button"
                            ng-class="['btn', 'btn-primary', 'dropdown-toggle']"
                            data-toggle="dropdown">
                        <span>{{root.selectedOrganization.name}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="organization in root.availableOrganizations"><a
                                href="#">{{organization.name}}</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default"
                                ng-disabled="editingOrganization" ng-click="routeToSpaces(root.selectedOrganization.id)">Spaces <span
                                class="badge">{{root.selectedOrganization.spaces.length}}</span></button>
                    </div>
                </div>
            </h3>
        </div>
    </div>

    <div class="row" ng-repeat="space in root.selectedOrganization.spaces">
        <div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title"><span class="text-muted">Users:</span> {{space.name}} <span
                                class="badge">{{space.users.length}}</span></span>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>